In [2]:
import numpy as np
x = np.array(["Jan", "Feb", "Mar", "Apr", "May", "Jun"])
print(x[2], x [3])
print(x[2:4])

('Mar', 'Apr')
['Mar' 'Apr']

In [3]:
p = [16, 16, 5, 12, 13, 8]
print(sorted(p, reverse=True))

[16, 16, 13, 12, 8, 5]

In [6]:
x=np.array([10, 15, 22, 13, 17, 20, 8])
x_small = x[x == 17]
print(x_small)
print(x[x==17])

[17]
[17]

In [12]:

#list1
pop=[30.55, 2.77, 39.21]
#list2
countries=['afghanistan', 'albania', 'algeria']
#method index is a list method
ind_alb=countries.index('albania')
ind_alb

1

In [13]:
pop[ind_alb]

2.77

In [14]:
#Dictionaries
world={'afghanistan':30.55, 'albania':2.77, 'algeria':39.21}
world['albania']

2.77

In [15]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [16]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

['norway', 'germany', 'spain', 'france']
oslo

In [17]:
europe['poland'] = 'warsaw'

# Print europe
print(europe)

{'norway': 'oslo', 'poland': 'warsaw', 'germany': 'berlin', 'spain': 'madrid', 'france': 'paris'}

In [18]:
#Create Dictionary from list, using zip method
names = ["Nick", "Alice", "Kitty"]
professions = ["Programmer", "Engineer", "Art Therapist"]

In [19]:
names_and_professions = zip(names, professions)
print names_and_professions

[('Nick', 'Programmer'), ('Alice', 'Engineer'), ('Kitty', 'Art Therapist')]

In [21]:
professions_dict = {}
for name, profession in names_and_professions:
    professions_dict[name] = profession

In [22]:
professions_dict['Nick']

'Programmer'

In [23]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
countries_and_capitals = zip(countries, capitals)
countries_and_capitals

[('spain', 'madrid'),
 ('france', 'paris'),
 ('germany', 'berlin'),
 ('norway', 'oslo')]

In [26]:
capitals_dict={}
for countries, capitals in countries_and_capitals:
        capitals_dict[countries] = capitals
capitals_dict

'paris'

In [28]:
import pandas as pd
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict={'country':names, 'drives_right':dr,'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [30]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

pandas.core.series.Series

In [36]:
#Suppose you only want to select one column from a dataframe
cars['country']
type(cars['country'])
#Series is a 1d labelled array
#If you put together a bunch of series, you create a dataframe
#Use [[...]] if you want to select a single column and keep the dataframe!
cars[['country']]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [38]:
type(cars[['country']])

pandas.core.frame.DataFrame

In [41]:
#Selecting two columns from a dataframe
cars[['country','drives_right']] #sub dataframe

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [46]:
#loc --> label-based
#iloc --> integer position-based
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [47]:
cars.loc[['US']]

    cars_per_cap        country  drives_right
US           809  United States          True

In [49]:
cars.loc[['US','AUS'], ['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False

In [50]:
cars.loc[:,['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [51]:
cars.iloc[[1]]

     cars_per_cap    country  drives_right
AUS           731  Australia         False

In [52]:
cars.iloc[[1],[0]]

     cars_per_cap
AUS           731

In [54]:
# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [ ]:
#Select linkers that jumped more than 15 in a single day
#select the diff column
#use diff>15 to find linkers

In [58]:
#Get series, not dataframe
cars['country']
#or the one below,which is the same
cars.loc[:,'country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [59]:
cars['cars_per_cap']>500
#which is boolean

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [61]:
is_huge=cars['cars_per_cap']>500
is_huge

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [62]:
cars[is_huge]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [64]:
cars[cars['cars_per_cap']>500]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [67]:
cars[np.logical_or(cars['cars_per_cap']>700, cars['cars_per_cap']<200)]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
IN             18          India         False
MOR            70        Morocco          True
EG             45          Egypt          True

In [69]:
#Select the cars_per_cap column from cars as a Pandas Series and store it as cpc.
cpc=cars['cars_per_cap']
cpc

US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [71]:
#Use cpc in combination with a comparison operator and 500. You want to end up with a boolean Series that's True if the corresponding country has a cars_per_cap of more than 500 and False otherwise. Store this boolean Series as many_cars.
many_cars=cpc>500
many_cars

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [72]:
car_maniac=cars[many_cars]
car_maniac

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [73]:
# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars["cars_per_cap"]
between = np.logical_and(cpc>100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

In [76]:
#Distribution of random walks
#Total number of tails after 10 coin tosses
np.random.seed(123)
tails=[0]
for x in range(10):
    coin=np.random.randint(0,2)
    tails.append(tails[x]+coin)

In [77]:
import numpy as np
np.random.seed(123)
final_tails=[]
for x in range(100):
    tails=[0]
    for x in range(10):
        coin=np.random.randint(0,2)
        tails.append(tails[x]+coin)
    final_tails.append(tails[-1])   
print(final_tails)    
#These values represent the distribution

[3, 6, 4, 5, 4, 5, 3, 5, 4, 6, 6, 8, 6, 4, 7, 5, 7, 4, 3, 3, 4, 5, 8, 5, 6, 5, 7, 6, 4, 5, 8, 5, 8, 4, 6, 6, 3, 4, 5, 4, 7, 8, 9, 4, 3, 4, 5, 6, 4, 2, 6, 6, 5, 7, 5, 4, 5, 5, 6, 7, 6, 6, 6, 3, 6, 3, 6, 5, 6, 5, 6, 4, 6, 6, 3, 4, 4, 2, 4, 5, 4, 6, 6, 6, 8, 4, 6, 5, 7, 4, 6, 5, 4, 6, 7, 3, 7, 4, 5, 7]

In [78]:
x='There are %d types of people.' %10
binary='binary'
do_not="don't"
y="Those who know %s and those who %s." %(binary, do_not)

print x
print y

print "I said: %r." %x
print "I also said: %s'." %y

hilarious = False
joke_evaluation="Isn't that joke so funny?!%r"

print joke_evaluation %hilarious

w = "This is the left side of..."
e = "a string with a right side."

print w + e

There are 10 types of people.
Those who know binary and those who don't.
I said: 'There are 10 types of people.'.
I also said: Those who know binary and those who don't.'.
Isn't that joke so funny?!False
This is the left side of...a string with a right side.